body, html{
  height:100%;
}
body{
  margin: 0px;

  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: #99FF33;
}
.addDancerButton, .lineUp{
  padding:5px 12px;
  text-align: center;
  vertical-align: center;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  font-size: 24px
}
.topbar{
  height:60px;
  background-color: #000000;
  text-align: center;
}
.title{
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.3999996185303px;
  margin-top: 5px
}
.dancer{
  background-image: url("THINKYKANYE.gif");
  position: absolute;
}
.background {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
